body {
  writing-mode: horizontal-tb; /* 横書き */
  word-break: normal;
}

.table-responsive {
  overflow-x: auto;
}

.table td, .table th {
  white-space: nowrap; /* 横スクロール */
}

.card-header {
  font-weight: bold;
}

.multi-select {
  min-width: 150px;
}
