body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f9f9f9;
}

.card {
  border-radius: 12px;
}

.table-responsive {
  overflow-x: auto;
}

table {
  min-width: 1000px;
  white-space: nowrap;
}

.multi-select {
  width: 100% !important;
}
